*{margin: 0; padding: 0;}
html{height: 100%; background-size: cover; 	background-size: cover; background-position: right}
	.bg-login{background: linear-gradient(rgba(91, 173, 239, 0.7), rgba(0, 115, 157, 0.7)), url("../img/business-options-loan.jpg");}
	.bg-cadastro{background: linear-gradient(rgba(91, 239, 155, 0.7), rgba(0, 115, 157, 0.7)), url("../img/business-options-loan.jpg")}
body{font-family: "Trebuchet MS", tahoma, arial; font-weight: 200; overflow-y: hidden}

.logo-dna{width: 120px; margin: 20px auto}
.erros, .ok, .download, .alerta{
	width: 390px;
	padding: 5px;
	background: orange;
	margin: 20px auto 0 auto;
	border-radius: 4px;
	color: white;
	text-align: center;
}

.ok{
	background: rgba(238,249,113,0.9);
	color: #333;
}

.alerta{
	background: red;
	color: white;
}

.download{background: rgba(165, 43, 232, 0.9); text-decoration: none}
.download a{text-decoration: none; color: white; font-weight: bold; text-transform: uppercase; font-weight: bold}

#formulario{
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

#formulario h2, #formulario h3, #formulario h1{
	font: 17px "Trebuchet", tahoma, arial;
	color: #278ab3;
	text-align: left;
	margin: 10px auto;
}
#formulario h3{color: #717171; font-size: 14px; margin: 10px 0}
#formulario h1, #formulario h4{text-align: center;}
#formulario fieldset{
	background: rgba(999,999,999,0.8);
	border: 0 none;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
	padding: 20px 30px;	
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	position: relative;
}

/*Aplicar essa formatação, exceto no primeiro fieldset*/
#formulario fieldset:not(:first-of-type){
	display: none;
}

#formulario input, #formulario textarea, button{
	padding: 10px;
	border: 1px solid rgba(38,128,101,0.9);
	border-radius: 4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	outline: none;
	box-sizing: border-box;
	width: 100%;
	font: 14px "Trebuchet MS", tahoma, arial;
	color:#090;
	margin-bottom: 10px;
}

#formulario .acao{
	width: 170px;
	background: rgba(38,128,101,0.9);
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 12px 0;
	float: left;
	margin-right: 5%;
	text-align: center; 
}

#formulario .acao:hover{
	background: rgba(52,117,140,0.9);
	cursor: pointer;
}

#formulario #progress{
	margin: 20px;
	overflow: hidden;

	/*cria contador armazenanda na variável step*/
	counter-reset: step;
}

#formulario #progress li{
	list-style-type: none;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	float: left;
	width: 25%;
	position: relative;
} 

#formulario #progress li:before{
	content: counter(step);
	counter-increment: step;
	width: 20px;
	display: block;
	line-height: 20px;
	background: white;
	color: #333;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;

	margin: 0 auto 10px auto;
}

#formulario #progress li:after{
	content: '';
	width: 100%;
	background: white;
	height: 2px;
	position: absolute;
	top: 9px;
	left: -50%;
	z-index: -1;
}

#formulario #progress li:first-child:after{
	content: none;
}

#formulario #progress li.ativo:before, #formulario #progress li.ativo:after{
	background:#0894ab;
	color: white;
	text-shadow:0 1px 0;
}

.escolhas{margin: 10px}
.escolhas select{ border-radius: 2px; padding: 5px; border: 1px solid #b2b2b2; width: 100%}